body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-wrapper h1 {
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    background: aliceblue;
}

h6 {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    height: 53px;
    width: 255px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: cursive;
    padding-left: 10px;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 60px;
    padding: 160px 0 0;
}

.inputs-block-column {
    width: 277px;
    margin: auto;
}

.inputs-wrapper input {
    margin-bottom: 20px;
}

.inputs-wrapper input:last-child {
    margin-bottom: 0;
}

.total-numb:last-child {
    margin-bottom: 0;
}

.total-numb input {
    font-weight: 600;
    font-size: 45px;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
}

#accumulation, #spend {
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}

.total-numb input::placeholder{
    color: #000000;
}

#slider-range {
    height: 2px;
    background-color: #D1D1D1;
    border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    top: -9px;
    outline: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default:hover {
    border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default:active {
    background-color: #FFFFFF;
}

.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
    background-color: #464646;
}

.slider-range-result {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider-range-result input{
    border: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 0;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    box-shadow: none;
    text-align: center;
}

.result-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.result-block .total-numb {
    display: flex;
    align-items: baseline;
    margin: auto;
    width: 250px;
}

.result-block .total-numb span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}

input[type='range'] {
    width: 280px;
    margin: auto;
    display: block;
}

.calc_percent {
    margin: 10px auto;
    display: block;
    width: 277px;
}

.header {
    position: fixed;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.total {
    text-align: center;
}

#spend {
    width: 185px;
}

#total-month:hover, #total-day:hover, #total-year:hover, #accumulation:hover, #spend:hover {
    cursor: no-drop;
}

@media (min-width: 768px) {
    .main-wrapper h1 {
        text-align: center;
        width: 100%;
    }

    .grid-block-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .inputs-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
    }

    .inputs-block-column {
        width: 569px;
    }

    h6 {
        text-align: left;
    }

    .text_money {
        width: 600px;
        margin: 30px auto 30px;
    }

    input[type='range'] {
        width: 600px;
        cursor: e-resize;
    }

    input[type='number'] {
        cursor: pointer;
    }

    input[type='number']:hover {
        box-shadow: 0 0 4px blue;
    }

    .result-block .total-numb {
        margin: auto;
    }

    .calc_percent {
        width: 600px;
    }

    .inputs-block {
        padding: 70px 0 0;
    }

    .result-block {
        grid-template-columns: repeat(2, 1fr);
    }

    .result-block .total-numb {
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .inputs-block-column {
        width: 900px;
    }

    .inputs-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
    }

    .text_money {
        width: 900px;
    }

    .calc_percent {
        width: 900px;
    }

    input[type='range'] {
        width: 900px;
    }

    .grid-block-column {
        grid-template-columns: repeat(3, 1fr);
    }

    .result-block .total-numb {
        display: flex;
        align-items: baseline;
        margin: auto;
        gap: 50px;
    }
}